__pycache__/
*.py[cod]
*.pyd

# Virtual environments
venv/
env/
.venv/
p5env/

# Jupyter
.ipynb_checkpoints/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Editor settings
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
